.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
    margin-left: -350px;
    margin-right: -300px;
}
.form-group {
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
}
.container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
    margin-top: -30px;
}